.header {
  max-width: calc(100% - 400px);
  min-height: 74px;
  margin: 45px auto 36.25px;
  border-bottom: 1px solid #545454;;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 69%;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 320px;
    margin: 28px auto 38.25px;
    min-height: 56px;
  }
}
