.elements__list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  justify-content: center;
}

@media screen and (max-width: 810px) {
  .element__list {
    gap: 20px;
  }
}
